# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Environment files (optional)
.env

outputs/

.venv/

# Large data folders
cleaned_csv/
outputs/

# CSV files
*.csv
